[Unit]
Description=XLXD Multiprotocol Reflector
After=network.target ambed.service

[Service]
Type=forking
User=xlxd
Group=xlxd
EnvironmentFile=/etc/default/xlxd
ExecStartPre=+chown -R xlxd:xlxd /etc/xlxd
ExecStartPre=+touch /etc/xlxd/callinghome.php
ExecStartPre=+touch /etc/xlxd/lastcallhome.php
ExecStartPre=+chown www-data:www-data /etc/xlxd/callinghome.php
ExecStartPre=+chown www-data:www-data /etc/xlxd/lastcallhome.php
ExecStartPre=+touch /var/log/xlxd.xml
ExecStartPre=+chown -R xlxd:xlxd /var/log/xlxd.xml
ExecStart=/usr/bin/xlxd-start ${REFLECTOR} ${BIND_IP} ${AMBED_IP}
ExecStartPost=+/bin/sh -c 'umask 022; pgrep xlxd > /run/xlxd.pid'
Restart=on-abnormal
PIDFile=/run/xlxd.pid

[Install]
WantedBy=multi-user.target
