[Unit]
Description=XLXD Multiprotocol Reflector
After=network.target ambed.service

[Service]
Type=forking
User=xlxd
Group=xlxd
PermissionsStartOnly=true
EnvironmentFile=/etc/default/xlxd
ExecStartPre=chown -R xlxd:xlxd /etc/xlxd
ExecStartPre=chown www-data:www-data /etc/xlxd/*.php
ExecStartPre=touch /var/log/xlxd.xml
ExecStartPre=chown -R xlxd:xlxd /var/log/xlxd.xml
ExecStart=/usr/bin/xlxd-start ${REFLECTOR} ${BIND_IP} ${AMBED_IP}
ExecStartPost=/bin/sh -c 'umask 022; pgrep xlxd > /run/xlxd.pid'
Restart=on-abnormal
PIDFile=/run/xlxd.pid

[Install]
WantedBy=multi-user.target
